.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
    width: 720px;
    margin: auto;
}

.tro{
	position: relative;
	
	width: 0px;
	height: 0px;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-bottom: 5px solid brown;
	
	opacity: 0;
}

.sl{	
	margin: auto;
	width: 100px;	
}

.sl:hover{
	box-shadow: 1px 1px 10px #eaaeae;
   -webkit-box-shadow: 1px 1px 10px #eaaeae;
   -moz-box-shadow: 1px 1px 10px #eaaeae;
	border: 1px solid brown;
}

.faceless{
	list-style-type: none;
}

.ord_list_elem{
display:inline-block;
}

.con1{
	padding-top: 10px;
	width: 720px;
	height: 140px;
    overflow-y: hidden;
	white-space:nowrap;
	margin: 0 auto;
}

.pr{
	position: absolute;
	height: 20px;
	background-color: white;
	opacity: 1;
}

.carousel-control.left, .carousel-control.right {
    background-image: none
}

.toggle{
	opacity: 0;
}

